<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <title>Add Player Page</title>
</head>
<body>
    <h1>Add Player Page</h1>
    <form action="/add_player/" method="post">
        <table>
            <tr>
                <td>Player Name</td>
                <td>
                    <input name="player_name" type="text">
                </td>
            </tr>
            <tr>
                <td>Player Skill</td>
                <td>
                    <input name="skill_level" type="text">
                </td>
            </tr>
        </table>
        <input name="form" type="submit" value="Submit">
    </form>
    <h1>Existing Players</h1>
    <ul>
        {% for player in players %}
        <li>
            <form action="/player/{{player.getName()}}/" method="get">
                <button>{{player.getName()}}</button>
            </form>
        </li>
        {% endfor %}
    </ul><br>
    <form action="/" method="get">
        <button>Return Home</button>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
