{% extends "base.html" %}

{% block style %}
<style>
    table, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}
{% block title %}Add Player{% endblock %}
{% block content %}
<h1>Add Player Page</h1>
<form action="/add_player/" method="post">
    <table>
        <tr>
            <td>Player Name</td>
            <td>
                <input name="player_name" type="text">
            </td>
        </tr>
        <tr>
            <td>Player Skill</td>
            <td>
                <input name="skill_level" type="text">
            </td>
        </tr>
    </table>
    <input name="form" type="submit" value="Submit">
</form>
<h1>Existing Players</h1>
<ul>
    {% for player in players %}
    <li>
        <form action="/player/{{player.getName()}}/" method="get">
            <button>{{player.getName()}}</button>
        </form>
    </li>
    {% endfor %}
</ul><br>
{% endblock %}
