{% extends "base.html" %}
{% block title %}Games Page{% endblock %}
{% block content %}
<h1>Games Page</h1>
<form action="/games/" method="post">
    <table>
        <tr>
            <td class="border border-dark">Team One:</td>
            <td class="border border-dark">Team One Score:</td>
            <td class="border border-dark">Team Two:</td>
            <td class="border border-dark">Team Two Score:</td>
        </tr>
        {% for i in range(games|length) %}
        {% if games[i].getPlayed() == False %}
        <tr>
            <td class="border border-dark">{{games[i].getTeamOne()[0]}}, {{games[i].getTeamOne()[1]}}</td>
            <td class="border border-dark">
                <input name="t1_score_{{i}}" type="text">
            </td>
            <td class="border border-dark">{{games[i].getTeamTwo()[0]}}, {{games[i].getTeamTwo()[1]}}</td>
            <td class="border border-dark">
                <input name="t2_score_{{i}}" type="text">
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table><br><br>
    <input name="form" type="submit" value="Submit">
</form><br>
{% endblock %}
