{% extends "base.html" %}

{% block style %}
<style>
    table, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}
{% block title %}Games Page{% endblock %}
{% block content %}
<h1>Games Page</h1>
<form action="/games/" method="post">
    <table>
        <tr>
            <td>Team One:</td>
            <td>Team One Score:</td>
            <td>Team Two:</td>
            <td>Team Two Score:</td>
        </tr>
        {% for i in range(games|length) %}
        {% if games[i].getPlayed() == False %}
        <tr>
            <td>{{games[i].getTeamOne()[0]}}, {{games[i].getTeamOne()[1]}}</td>
            <td>
                <input name="t1_score_{{i}}" type="text">
            </td>
            <td>{{games[i].getTeamTwo()[0]}}, {{games[i].getTeamTwo()[1]}}</td>
            <td>
                <input name="t2_score_{{i}}" type="text">
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table><br><br>
    <input name="form" type="submit" value="Submit">
</form><br>
{% endblock %}
