{% extends "base.html" %}
{% block title %}{{group.getGroupName()}}{% endblock %}
{% block style %}
<style>
    .hover-table {
        width: 80%;
    }

    .hover-table tr {
        width: 100%;
        height: 40px;
        margin: 0%;
        padding: 0%;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .hover-table tr.data-row:hover {
        background-color: lightgray;
    }

    .rank-column {
        width: 7%;
        height: 100%;
        border-radius: 0%;
        text-align: center;
    }

    .name-column {
        width: 70%;
        height: 100%;
        border-radius: 0%;
        text-align: left;
    }
    
    .rating-column {
        width: 10%;
        height: 100%;
        border-radius: 0%;
        text-align: center;
    }

    .record-column {
        width: 10%;
        height: 100%;
        border-radius: 0%;
        text-align: center;
    }

    a.button {
        appearance: button;
        text-decoration: none;
        vertical-align: middle;
        color: initial;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .left-column {
        width: 20%;
        height: 100%;
        border-radius: 0%;
        text-align: left;
    }

    .right-column {
        width: 20%;
        height: 100%;
        border-radius: 0%;
        text-align: right;
    }

    .score-column {
        width: 10%;
        height: 100%;
        border-radius: 0%;
        text-align: center;
    }

</style>
{% endblock %}
{% block content %}
<div class="container">
    <a href="/group/{{group.getGroupName()}}/add_player/" method="get">Add Player</a>
    <br>
    <a href="/group/{{group.getGroupName()}}/games/" method="get">Create Games</a>
    <h1>Rankings</h1>
    <table class="hover-table" role="table" cellspacing="0" cellpadding="0">
        <thead>
            <tr role="row">
                <th class="rank-column" role="columnheader">Rank</th>
                <th class="name-column" role="columnheader">Name</th>
                <th class="rating-column" role="columnheader">Rating</th>
                <th class="record-column" role="columnheader">Record</th>
            </tr>
        </thead>
        <tbody role="rowgroup">
        {% for i in range(players|length) %}
            <tr class="hover-table data-row" role="row">
                <td class="rank-column" role="cell">
                    <a class="button" href="/group/{{group.getGroupName()}}/player/{{players[i].getName()}}/" method="get">{{i+1}}</a>
                </td>
                <td class="name-column" role="cell">
                    <a class="button" href="/group/{{group.getGroupName()}}/player/{{players[i].getName()}}/" method="get">{{players[i].getName()}}</a>
                </td>
                <td class="rating-column" role="cell" style="text-align: center;">
                    <a class="button" href="/group/{{group.getGroupName()}}/player/{{players[i].getName()}}/" method="get">{{players[i].getMuRounded()}}</a>
                </td>
                <td class="record-column" role="cell" style="text-align: center;">
                    <a class="button" href="/group/{{group.getGroupName()}}/player/{{players[i].getName()}}/" method="get">{{players[i].getRecord()}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Game History</h1>
    <table class="hover-table" role="table" cellspacing="0" cellpadding="0" style="width: 60%">
        <thead>
            <tr role="row">
                <th class="left-column" role="columnheader">Player One</th>
                <th class="left-column" role="columnheader">Player Two</th>
                <th class="score-column" role="columnheader">Score</th>
                <th class="right-column" role="columnheader">Player Three</th>
                <th class="right-column" role="columnheader">Player Four</th>
            </tr>
        </thead>
        <tbody role="rowgroup">
            {% for game in games %}
            {% if game.getPlayed() == True %}
            <tr class="hover-table data-row" role="row">
                <td class="left-column" role="cell">{{game.getTeamOne()[0]}}</td>
                <td class="left-column" role="cell">{{game.getTeamOne()[1]}}</td>
                <td class="score-column" role="cell">{{game.getTeamOneScore()}} - {{game.getTeamTwoScore()}}</td>
                <td class="right-column" role="cell">{{game.getTeamTwo()[0]}}</td>
                <td class="right-column" role="cell">{{game.getTeamTwo()[1]}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block dropdown %}
    {% for i in range(groups|length) %}
        <a class="dropdown-item" href="/group/{{groups[i].getGroupName()}}">{{groups[i].getGroupName()}}</a>
    {% endfor %}
{% endblock %}
