{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block style %}
<style>
    .hover-table {
        width: 60%;
    }

    .hover-table tr {
        width: 100%;
        height: 40px;
        margin: 0%;
        padding: 0%;
    }

    .hover-table tr.data-row:hover {
        background-color: lightgray;
    }

    .hover-table td {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    a.button {
        appearance: button;
        text-decoration: none;
        vertical-align: middle;
        color: initial;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .name-column {
        width: 60%;
        height: 100%;
        border-radius: 0%;
        text-align: left;
    }

    .players-column {
        width: 20%;
        height: 100%;
        border-radius: 0%;
        text-align: center;
    }

    .games-column {
        width: 20%;
        height: 100%;
        border-radius: 0%;
        text-align: center;
    }

</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Groups</h1>
    <table class="hover-table" role="table" cellspacing="0" cellpadding="0">
        <thead>
            <tr role="row">
                <th class="name-column" role="columnheader">Group</th>
                <th class="players-column" role="columnheader">Players</th>
                <th class="games-column" role="columnheader">Games Played</th>
            </tr>
        </thead>
        <tbody role="rowgroup">
        {% for i in range(groups|length) %}
            <tr class="hover-table data-row" role="row">
                <td class="name-column" role="cell">
                    <a class="button" href="/group/{{groups[i].getGroupName()}}/" method="get">{{groups[i].getGroupName()}}</a>
                </td>
                <td class="players-column" role="cell">
                    <a class="button" href="/group/{{groups[i].getGroupName()}}/" method="get">{{groups[i].getNumPlayers()}}</a>
                </td>
                <td class="games-column" role="cell">
                    <a class="button" href="/group/{{groups[i].getGroupName()}}/" method="get">{{groups[i].getNumGames()}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block dropdown %}
    {% for i in range(groups|length) %}
        <a class="dropdown-item" href="/group/{{groups[i].getGroupName()}}">{{groups[i].getGroupName()}}</a>
    {% endfor %}
{% endblock %}
