{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>Rankings</h1>
<ol>
    {% for player in players %}
    <li>
        <form action="/player/{{player.getName()}}/", method="get">
            <button>{{player.getName()}}: {{player.getMuRounded()}}</button>
        </form>
    </li>
    {% endfor %}
</ol>

<h1>Game History</h1>
<table>
    <tr>
        <td class="border border-dark">Team One</td>
        <td class="border border-dark">Score</td>
        <td class="border border-dark">Team Two</td>
    </tr>
    {% for game in games %}
    <tr>
        <td class="border border-dark">{{game.getTeamOne()[0]}}, {{game.getTeamOne()[1]}}</td>
        <td class="border border-dark">{{game.getTeamOneScore()}} - {{game.getTeamTwoScore()}}</td>
        <td class="border border-dark">{{game.getTeamTwo()[0]}}, {{game.getTeamTwo()[1]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
