{% extends "base.html" %}

{% block style %}
<style>
    table, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
{% endblock %}
{% block title %}player.getName(){% endblock %}
{% block content %}
<h1>Showing stats for {{player.getName()}}</h1>
<ul>
    <li>Skill Level: {{player.getMu()}}</li>
    <li>Record: {{player.getWins()}} - {{player.getLosses()}}</li>
</ul>

<form action="/player/{{player.getName()}}/" method="post">
    <button>Delete Player</button>
</form>
<h1>Game History</h1>
<table>
    <tr>
        <td>Team One</td>
        <td>Score</td>
        <td>Team Two</td>
    </tr>
    {% for game in games %}
    {% if game.getPlayed() == True %}
    {% if player.getName() in game.getTeamOne() %}
    <tr>
        <td>{{game.getTeamOne()[0]}}, {{game.getTeamOne()[1]}}</td>
        <td>{{game.getTeamOneScore()}} - {{game.getTeamTwoScore()}}</td>
        <td>{{game.getTeamTwo()[0]}}, {{game.getTeamTwo()[1]}}</td>
    </tr>
    {% elif player.getName() in game.getTeamTwo() %}
    <tr>
        <td>{{game.getTeamTwo()[0]}}, {{game.getTeamTwo()[1]}}</td>
        <td>{{game.getTeamTwoScore()}} - {{game.getTeamOneScore()}}</td>
        <td>{{game.getTeamOne()[0]}}, {{game.getTeamOne()[1]}}</td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
</table>

{% endblock %}