{% extends "base.html" %}
{% block title %}player.getName(){% endblock %}
{% block content %}
<h1>Showing stats for {{player.getName()}}</h1>
<ul>
    <li>Skill Level: {{player.getMu()}}</li>
    <li>Record: {{player.getWins()}} - {{player.getLosses()}}</li>
</ul>

<form action="/player/{{player.getName()}}/" method="post">
    <button>Delete Player</button>
</form>
<h1>Game History</h1>
<table>
    <tr>
        <td class="border border-dark">Team One</td>
        <td class="border border-dark">Score</td>
        <td class="border border-dark">Team Two</td>
    </tr>
    {% for game in games %}
    {% if game.getPlayed() == True %}
    {% if player.getName() in game.getTeamOne() %}
    <tr>
        <td class="border border-dark">{{game.getTeamOne()[0]}}, {{game.getTeamOne()[1]}}</td>
        <td class="border border-dark">{{game.getTeamOneScore()}} - {{game.getTeamTwoScore()}}</td>
        <td class="border border-dark">{{game.getTeamTwo()[0]}}, {{game.getTeamTwo()[1]}}</td>
    </tr>
    {% elif player.getName() in game.getTeamTwo() %}
    <tr>
        <td class="border border-dark">{{game.getTeamTwo()[0]}}, {{game.getTeamTwo()[1]}}</td>
        <td class="border border-dark">{{game.getTeamTwoScore()}} - {{game.getTeamOneScore()}}</td>
        <td class="border border-dark">{{game.getTeamOne()[0]}}, {{game.getTeamOne()[1]}}</td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
</table>

{% endblock %}